/* structure de page partie pc*/

body{
    width:100%; 
    margin:0em;
    padding:0;
}

.logo{
    width: 6em;
    height: 2.4em;
    margin:1em 0em 2em 1em;
}

nav {
    float:right;
    margin-top:2em; 
}

.inscription{
    float:right;  
    margin:2em 4.5em 0em 2.15em;
    color:#0065FC;
    font-weight:bold;
}

/*ancre*/

nav a{
    margin-top:0em;
    padding: 0em 2.3em 0em 2.3em;
    color:black;
    font-size:1em;  
}

nav a:hover{
    color:#0065FC;
    padding:2.3em 2.3em  0em 2.3em;
    margin-right:0em;
    border-top:2px solid;
    font-weight: bold;
}

.position{
    font-size:0.95em;
  
}

.titre, .recherche_ville,  .recherche_affinee, .info_complementaire{
    margin-left:1.2em;
}

/*police de caractère*/ 

li,h2, h4,h5, .pied_hebergement{
    font-family: 'Raleway Bold',arial;
    color:black;
}

a{
    font-family:'Raleway';
    color:black;
}

.titre h2{
    font-size:1.3em;
    line-height: 0em;
}

.titre p, .texte-info{
    font-size:0.95em;
    font-family:'Raleway';
}

 /* BARRE DE RECHERCHE POSITION*/
        
.search { 
    width:28em;
    height:2.9em;
    margin-bottom:1.5em;
}
    
.search .logo-position {
    display:block;
    background:#F2F2F2;
    width:3em;
    height:2.9em;
    float:left;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
}

.logo-position .fas  {
    margin-left: 1.2em;
    margin-top:1em; 
    font-size:0.95em; 
}

.search .btn-recherche {   
    display:block;
    background:#0065FC;
    font-size:1em;
    font-weight: bold;
    width:7.5em;
    height:2.9em;
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

.btn-recherche{
    color:white;  
}

.search button {
    position:relative;
    display:none;
    background:#0065FC;
    width:3.8em;
    height:4em;
    border-radius: 1em;
    border:0;
    outline:0;
    z-index:1;
}

.bouton .fas{
    font-size:1.2em;
    color:white;
}
    
.search input {  
    outline:0;
    border:0;
    margin-right:-0.3em;
    border-top:0.1px solid rgb(240, 239, 239);
    border-bottom:0.1px solid rgb(240, 239, 239);
    z-index:0;
}
    
.search input[type=text] {
    float:left;
    font-size:0.9em;
    height:2.9em;
    width:14.5em;
    font-weight: bold; 
}

input::placeholder{
    color:black;
}
/*====================== filtres======================*/
    
/*onglet*/

header{
    width:auto;
    margin-top:0.5em;
    margin-left:1.5em
}

.filtre{
    width:80%;
    display:flex;
    margin-top:1em;
    margin-bottom:1em;
}

.texte{
    font-weight: bold;
    font-size:1em;
    height:1.44em;
}

.texte1{
    margin-top:0.4em;
    margin-right:1.2em;
}

.eco, .famillial, .romantique, .animaux {
    display:flex;
    height:2em;
    margin-left:1.2em;
}

.envoi{   
    display:none;
}

input:hover{
    background-color:rgb(133, 129, 129);
   
}

.eco input[type=text] ,.familial input[type=text],.romantique input[type=text],.animaux input[type=text]{
    font-family:'Raleway Bold',arial ;
    font-weight: bolder;
    font-size: 1em;
    outline:0;
}

/*Onglet economique*/

.eco-family{
    display:flex;
}

.eco {
    width:10em;
    height:2.3em;
    border: solid 0.13em  rgb(213, 211, 211);
    border-radius:1.2em;
    margin-left:0.6em;
    margin-right:0.3em;
}
  
.logo-eco { 
    background:#DEEBFF;
    width:2.5em;
    height:2.5em;
    float:left;
    margin-top:-0.1em;
    margin-left:-0.2em;
    border-radius: 1.2em; 
}
        
.logo-eco .fas {
    font-size:0.8em;
    margin-left:0.8em;
    margin-top:1em;       
    color:#0065FC;        
}

.texte_eco {
    width:7.5em;         
    height:2.1em;
    border-top-right-radius:1.2em;
    border-bottom-right-radius:1.2em;
    border:0;
    text-align:center;
}
    
/* Onglet famille*/

.familial {
    display:flex;
    flex-wrap:wrap;
    width:8.5em;
    height:2.3em;
    border: solid 0.13em  rgb(213, 211, 211);
    border-radius:1.2em;
    margin-left:1.2em;
    margin-right:0.6em;
}

.logo-familial {    
    background:#DEEBFF;
    width:2.5em;
    height:2.5em;
    float:left;
    margin-top:-0.1em;
    margin-left:-0.15em;
    border-radius:1.2em;
    border-bottom-left-radius:1.2em;
 }

 .logo-familial .fas  {
    font-size:1.05em;
    margin-left:0.8em;
    margin-top:0.6em;       
    color:#0065FC;        
}

.texte_familial {  
    width:5.8em;
    height:2.1em;
    border-top-right-radius:1.2em;
    border-bottom-right-radius:1.2em;
    border:0;
    text-align:center;        
} 

/* Onglet Romantique*/
       
.romantique {
    width:10em;
    height:2.3em;
    border: solid 0.13em  rgb(213, 211, 211);
    border-radius:1.2em;
    margin-left:0.8em;
    margin-right:0.8em;
    padding-left:0em;
}
       
.logo-romantique {  
    background:#DEEBFF;
    width:2.5em;
    height:2.5em;
    margin-top:-0.1em;
    margin-left:-0.15em;
    border-radius:1.2em;
    border-bottom-left-radius:1.2em;
}
      
.logo-romantique .fas  {
    font-size:1em;
    margin-left:0.7em;
    margin-top:0.7em;       
    color:#0065FC;        
}
     
.texte_romantique {
    width:7.5em;
    height:2.1em;
    border-top-right-radius:1.2em;
    border-bottom-right-radius:1.2em;
    border:0;
    text-align:center;
}

/* Onglet Animaux*/
       
.animaux{
    width:13.5em;
    height:2.3em;
    border: solid 0.13em  rgb(213, 211, 211);
    border-radius:1.2em;
    margin-left:0.6em;
    margin-right:0.6em;
 }

.logo-animaux {
    background:#DEEBFF;
    width:2.5em;
    height:2.5em;
    margin-top:-0.1em;
    margin-left:-0.15em;
    border-radius:1.2em;
    border-bottom-left-radius:1.2em;
}

.logo-animaux .fas {  
    font-size:1em;
    margin-left:0.7em;
    margin-top:0.5em;       
    color:#0065FC;        
}

.texte_animaux {
    width:10.9em;
    height:2.1em;
    border-top-right-radius:1.2em;
    border-bottom-right-radius:1.2em;
    border:0;
    text-align:center;
}

/* barre info sur les disponibilitées*/

.logo-info{
    border: solid 0.06em  grey;
    width:1.1em;
    height:1.1em;
    border-radius:0.6em;
    float:left;   
}

.info_complementaire {
    display:flex;
    flex-wrap:wrap;
    position:relative;
    margin-top:2em;
    margin-bottom:2em;
    width:50%;
    height:1.2em;  
}
     
.logo-info i {
    position:absolute;
    color: #0065FC;
    font-size:0.6em;
    margin-left:0.7em;
    margin-top:0.4em;
    vertical-align: super;        
}

.texte-info{
    position:absolute;
    margin-top:0em;
    margin-left:2em;
    font-size:1em;
}

/*====================== zone hebergement======================*/
            
a {
    text-decoration: none;  
}

#conteneur1 h5, #conteneur2 h5{
    color:black;
}

#conteneur1{
    width:auto;
    display:flex;
    height:30em;
    margin-left:2.5em;
    margin-right:3em;
    border-radius:1em;    
}    

.entete_hebergement{ 
    width:96%;
    font-weight:bold;
    font-size:1.3em;
}

.pied_hebergement{  
    width:96%;
    font-weight:bold;
    font-size:1em;
    list-style-type: none;
    margin-top:0em;
}

.logement{
    display:flex;
    flex-wrap:wrap;
    align-content:start;
    justify-content:space-around;
    background:#F2F2F2;
    width:65%;
    height:35em;
    border-radius:1em;
    margin-right:3em;
    padding:1em 1em 0em 1em ;
}  

.bloc{
    background:white;
    width:30%;
    height:32%;
    border-radius:1em;
    margin-bottom:2em;
    box-shadow: 0em 0.4em 2em rgb(216, 216, 216);
} 

.img_hebergement{
    width:96%;
    height:60%;
    object-fit: cover;
    margin-left:0.3em;
    margin-top: 0.3em;
    border-top-left-radius:1em;
    border-top-right-radius:1em;    
}

.description{
    margin-left:0;
}

.description i{
    width:0.7em; 
    font-size:1em;
    margin-left:0em;
    color:#0065FC;
    margin-right:0.2em;
}

.description p{
    line-height:1.5em;
    font-size:0.7em;
    margin:0em;
    margin-left:1em;
    margin-bottom:0.3em;
}

.bloc h5{
    margin:0.5em 0em 0.5em 0.8em;
    font-family: 'Raleway Bold',arial;
    line-height: 0.5em;
}

.satisfaction i:nth-child(5) {
 color:#F2F2F2;
}

.satisfaction_1 i:nth-child(n+4){
    color:#F2F2F2;
}

/* zone populaire*/

.populaire{
    display:flex;
    flex-direction:column;  
    background:#F2F2F2;
    width:30%;
    height:36em;
    border-radius:1em;
    padding-left:0.5em;
    padding-right:0.5em;
}

.entete_populaire{
    margin:1.6em 0em 1.5em 1em;
    font-weight:bold;
    font-size:1.3em;
    font-family: 'Raleway Bold',arial;
}

.entete_populaire i{
    float:right;
    margin-right:0.8em;
}

.element {
    display:flex;
    background:white;
    width:90%;
    height:8.5em;
    border-radius:0.6em;
    margin:auto;  
    margin-bottom:1.6em; 
    box-shadow: 0em 0.4em 2em rgb(216, 216, 216);
} 

.img_populaire{
    width:42%;
    height:7.5em;
    object-fit: cover;
    margin-left:0.4em;
    margin-top:0.4em;
    border-top-left-radius:0.6em ;
    border-bottom-left-radius:0.6em; 
}

.element h5{
   margin:1em 0em 0.5em 1em;
   white-space: normal;
}

.element i {
   margin-top:2em;
}


/*====================== zone activités ======================*/

#conteneur2{
    width:auto;
    display:flex;
    justify-content: space-between;
    height:27.7em;
    margin:1em 2em 0em 0em;
    padding:0em 1.5em 0em 1.5em;
}

.zone_activity{
    width:50%;
    height:1.2em;  
    margin:10em 0em 2em 2.5em;  
    position:relative;
}

.box{  
    width:18em;
    height:27.7em;
    padding:0em;
    margin-left:1.5em;   
}

.box_1{  
    width:18em;
    height:27.7em;
    padding:0em;
    margin-left:0.5em;   
}

.element_1, .element_4{
    width:95%;
    height:27.7em;
    position:relative;
    border-radius:1em;
    box-shadow: 0em 0.4em 2em rgb(216, 216, 216); 
    margin-left: auto;
    margin-right: auto;
}  

.img_activites{
    width:100%;
    height:100%;
    object-fit: cover;
    position:absolute;
    border-radius:1em;
    z-index:1;
}

.titre_activites{
    background:white;
    width:100%; 
    height:3em;
    position:absolute;
    margin-top:24.7em; 
    font-size:100%;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    z-index:2;
}

.element_2{
    height:14.8em;
    position:relative;
    border-radius:1em;
    margin-bottom:3em; 
    box-shadow: 0em 0.2em 3em rgb(216, 216, 216); 
}

.img_activites2{
    width:100%;
    height: 100%;
    object-fit: cover;
    position:absolute;
    border-radius:1em;
    z-index:1;
}

.titre_activites2{
    background:white;
    width:100%; 
    height:3em; 
    font-size:100%;
    position:absolute;
    margin-top:11.8em; 
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    z-index:2;
 }

.element_3{
    border-radius:1em;
    position:relative;
    height:10em;
    box-shadow: 0em 0.2em 3em rgb(216, 216, 216); 
}

.img_activites3{
    width:100%;
    height: 100%;
    object-fit: cover;
    position:absolute;
    border-radius:1em;
    z-index:1;
}

.titre_activites3{
    width:100%; 
    height:3em;
    position:absolute;
    margin-top:7em;  
    font-size:100%;
    background:white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    z-index:2;
}

.element_5, .element_6{
    height:12.4em;
    position:relative;
    border-radius:1em;
    margin-bottom:3em;  
    box-shadow: 0em 0.2em 3em rgb(216, 216, 216); 
}

.img_activites5{
    width:100%;
    height:100%;
    position:absolute;
    margin:0em;
    border-radius:1em;
}

.titre_activites5{
    background:white;
    width:100%; 
    height:3em;
    position:absolute;
    margin-top:9.5em;  
    font-size:100%;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    z-index:2;
}
   
.box h5, .box_1 h5{
    margin-top:1em;
    margin-left:1.2em;
    font-size:1em;
    font-family:'Raleway Bold', arial;
}


/*====================== pied de page ======================*/

footer{
    width:100%;
    display:flex;
    height:12em;
    background:#F2F2F2;
    margin-top:1.8em;
    padding-top:2em;
}

.propos{
    width:15%;
    height:9em;
    margin:0em 12em 0em 3em;
    line-height: 0em;
    text-align:left;
}

.nos_hebergements{ 
    width:15%;
    height:9em;
    margin:0em 12em 0em 2em;
    line-height: 0em;
    text-align:left;
}

.assistance{
    width:15%;
    height:9em;
    line-height: 0em;
    text-align:left;
}

.propos a, .nos_hebergements a, .assistance a{
    font-size: 0.85em;
    list-style-type: none;
    margin-bottom:1em;
    line-height: 2em;
}


       

/*====================== mode responsive ======================*/

@media screen and (min-width:370px) and (max-width:599px){

    body{
        width:auto;
        margin:0em;
    }
  
/*header*/  

    header{
        flex-direction:column;
        width:auto;
        height:39em;
        margin-left:auto;
        margin-right:auto;  
    }

    .inscription{
        width:auto;
        margin-left:auto;
        margin-right:1.5em;
    }

    .logo{
        margin-top:1em;
        font-size:1em;
    }

/*ancre*/
   
    nav{
        width:auto;
        flex-direction:column; 
        margin:0em 0em 3em 0em;
        float:none;
        text-align: center;
    }

    nav a {   
        width:auto;          
        flex-direction:column;
        margin: auto;
        border-bottom: 0.2em solid #F2F2F2;
        padding:0em 2.9em 0.8em 3em;
    }

    nav a:hover{
        color:#0065FC;
        padding:0em 2.9em  0.8em 3em;
        border-bottom:0.2em solid;
        border-top:none;
    }

    .position{
        width:auto;
        margin-left:0em;
        margin-right:0em;  
    }

    .position:hover{
        width:auto;
        margin-left:0em;
        margin-right:0em;  
    }

/* barre de recherche*/

    .search{
        width:100%;
        height:4em;
        margin-top:2em;
    }

    .search input[type=text]{
        width:66%;
        font-size:1.1em;
        padding:0;
    }

    
    .search .logo-position {
        width:3em;
        height:3.4em;
     }
    
    .logo-position .fas  {
        margin-left:1em;
        margin-top:1.1em; 
        font-size:1.1em; 
     }

    
    .search .btn-recherche{
        width:100%;
        display:none;
    }

    .search button{
        display:block;
    }

    .titre h2{
       line-height: 1.4em;
    }

/*filtre*/               
           
    .titre{
        width:80%;
        margin-top:2em;
        text-align:left;
    }

    .filtre{ 
        width:auto;           
        display:flex;           
        flex-direction:column;  
        margin-left:1em;  
    }

    .recherche_affinee{
        width:100%;
        margin-left:0em;
        margin-right:0em;
     }

    .eco-family, .romantique{   
        margin-bottom:0.8em;  
    }

    .eco, .familial, .animaux{
        height:3em;
        border-radius:2em;
    }
    
    .romantique{
        height:3em;
        border-radius:2em;
        margin-left:0.5em;
    }

    .logo-eco, .logo-familial, .logo-romantique, .logo-animaux{
        width:3em;
        height:3em;
        margin-left:-0.2em;
        margin-top:0em;
        border-radius:2em;
    }

    .logo-eco .fas, .logo-animaux .fas {
        font-size:1.1em;
        margin-left:0.8em;
        margin-top:0.9em;               
    }

    .logo-familial .fas{
        font-size:1.2em;
        margin-left:0.9em;
        margin-top:0.8em; 
    }

    .logo-romantique .fas{
        font-size:1.2em;
        margin-left:0.7em;
        margin-top:0.9em; 
    }

    .logo-familial {    
        margin-top:0em;
        margin-left:-0.15em; 
     }
  
    .texte_romantique {
        width:6.9em;         
        height:2.8em;
    }

    .familial{
        width:7.8em;
        margin-left:0.5em;
    }

    .texte_eco{
        width:6.9em;
        height:2.8em;
    }

    .texte_familial {
        width:4.6em;  
        height:2.8em;       
    }

    .texte_animaux {
        width:10.3em;  
        height:2.8em;       
    }

    .texte{
        margin-bottom:1em;
        margin-left:0.5em;
        font-family:'Raleway';
    }
  
    .info_complementaire{
        width:auto;
        margin-top:2em;
        margin-left:1.5em;
        font-size:0.9em;
    }

    ::placeholder{
        font-size: 1em;
        font-weight: bold;
    }
  

/* hebergement*/
   
    #conteneur1{
        width:100%;
        margin-top:10em;
        flex-direction: column-reverse;  
        margin-left:0em;  
        margin-right:0em;
    }

    .pied_hebergement{
        margin-left:1.5em;
        margin-top:1.5em;
    }

    .entete_populaire{
        margin-left:0.5em;
    }

    .populaire {      
        background:#F2F2F2;
        width:auto;
        margin-left:auto;
        margin-right:auto;
        margin-top:0em;
        margin-bottom:1em;   
        border-radius:0em;   
        padding-bottom:2em; 
        padding-top:0em;  
    }

    .element{
        width:auto;
        height:8.5em;
        margin:0em 0.5em 0.8em 0.5em;
        border-radius:1.5em;
        box-shadow: 0.2em 0.2em 0.5em rgb(223, 223, 223); 
    }

    .img_populaire{
        height:7.6em;
        border-top-left-radius: 1.3em;
        border-bottom-left-radius: 1.3em;
    }
   
    .element p, .bloc p{
        font-size:0.8em;
        margin-left:1.2em;
    }

    .element h5, .bloc h5{
        font-size:1em;
    }

    .element i{
        margin-top:1em;
        font-size:0.85em;
    }

    .entete_hebergement{
        margin-left:1em;
    }

    .logement{
        width:auto;
        height:0em;
        margin-top:0em; 
        margin-left:auto;
        margin-right:auto;
        padding:0em; 
        border-radius:0em;  
    }

    .bloc{
        width:auto;
        height:12em;
        margin:0.6em 1em 0.2em 1em;
        box-shadow: 0em 0.2em 1em rgb(223, 223, 223); 
    }

    .bloc i{
        margin-top:0em;
        font-size:0.85em;
    }

/*activites*/

    .zone_activity{
        width:5em;
        margin:86em 0em 2em 0em;
    }

    .entete_activites{
        width:12em;
        margin-left:1em;
        margin-right: auto;  
    }

    #conteneur2{
        width:100%;   
        display:flex;
        flex-direction: column;
        padding:0;
    }
    
    .box, .box_1{
        display:flex;
        flex-direction: column;
        width:auto;
        height:auto;
        margin-left:1em;
        margin-right:1em;
        padding:0em;
    }

    .element_1, .element_2, .element_4, .element_5, .element_6{
        width:auto;
        height:12em;   
        margin-bottom:1.5em;    
        margin-left: auto;
        margin-right:auto;
        box-shadow: 0em 0.2em 1em rgb(223, 223, 223); 
    }

      .element_3{
        width:auto;
        height:12em;   
        margin-bottom:1.5em;     
        margin-left: auto;
        margin-right:auto;
    }
    .img_activites{
        width:100%;
        height:100%;
        border-top-left-radius: 0.6em;
        border-top-right-radius: 0.6em;    
    }
    

    .titre_activites, .titre_activites2, .titre_activites3, .titre_activites5{
        margin-top:9em;
    }
    
 /*pied de page*/

    footer{
        width:100%;
        height:28em;
        flex-direction:column;
        margin-top:55em;
        margin-left:auto; 
        margin-right:auto;
        border-radius:0em;   
    }

    .propos, .nos_hebergements, .assistance{
        width:80%;
        height:9em;
        margin-bottom:2em;
        margin-left:2em;
    }  

}
@media screen and (min-width:400px) and (max-width:450px){
    .eco{   
        margin-right:1.5em;
    }
}

@media screen and (min-width:600px) and (max-width:899px){

    
    .info_complementaire{
       width:60%;
    }
    
    .texte{
        display:none;
    }

    .recherche_affinee{
        margin-left:0em;
    }
   
    .eco-family{ 
        width:auto;           
        display:flex;           
        flex-direction:column;  
        margin-left:1em;  
    }

    .familial{
        margin-top:0.8em;
        margin-left:0.5em;
    }

    /*hebergement*/

    #conteneur1{
        width:100%;
        flex-direction: column;  
        margin-left:0em;  
        margin-right:0em;
    }

    .logement{
        width:auto;
        margin:0 2em 2em 2em;
    }

    .populaire{
        width:auto;
        height:36em;
        margin:0 2em 0 2em
    }

    .element {
        width:60%;
    } 

    /*zone activites*/

    .zone_activity{
        margin-top:42em;
    }

    #conteneur2{
        height:15em;   
    }

    .element_1, .element_4{
        height:15em;
    }

    .titre_activites{
        margin-top:17em;
    }

    .titre_activites{ 
        height:2em;
        margin-top:13em; 
        z-index:2;
    }

    .element_1 h5, .element_2 h5{
        font-size:0.8em;
        margin-left:1em;
        margin-top:0.8em;
    }

    .titre_activites2, .titre_activites3, .titre_activites5{ 
        height:2em;
        margin-top:4em; 
        z-index:2;
    }

    .element_3 h5, .element_6 h5{
        font-size:0.8em;
        margin-left:1em;
        margin-top:0.8em;
    }

    .element_2 h5,.element_4 h5, .element_5 h5{
        font-size:0.8em;
        margin-left:1em;
        margin-top:0.2em;
    }

    .element_2, .element_3, .element_5, .element_6{
        height:6em;
    }

    /* pied de page*/

    footer{
        width:100%;
        height:10em;
    }

    .propos{
        width:30%;
        height:10em;
        margin:0em 1em 0em 3em;
        line-height: 0em;
        text-align:left;
    }
    
    .nos_hebergements{ 
        width:25%;
        height:9em;
        margin:0em 6em 0em 2em;
        line-height: 0em;
        text-align:left;
    }
    
    .assistance{
        width:15%;
        height:9em;
        line-height: 0em;
        text-align:left;
    }
    
}
  