/* structure de page partie pc*/

    body{
    width:auto;    
    }
    
    @font-face{
        font-family:'Raleway';
        src:url('Fonts/Raleway-Regular.ttf');
        font-weight:normal;
        font-style:normal;
    }
    
    .logo{
    width: 6em;
    height: 2.4em;
    margin-left:0.6em;
    margin-top:2em;
    }
    
    nav {
        float:right;
        margin-top:2em;
    }

    .inscription{
        float:right;  
        margin-top:2em;
        margin-left:1.2em;  
        color:#0065FC;
        font-weight:bold;
    }
    
    nav a{
        margin-top:0em;
        padding: 0em 0.6em 0em 0.6em;
        color:black;
        font-size:0.8em;    
    }

    nav a:hover{
        color:#0065FC;
        padding:2.5em 0.6em  0em 0.6em;
        margin-right:1.2em;
        border-top:2px solid;
    }

    .position{
        margin-left:1.2em;
        margin-right:1.2em;
    }
    
    p,a,li,h2,h4,h5.placeholder{
        font-family:Raleway;
        color:black;
    }

 /* BARRE DE RECHERCHE POSITION*/
        
    .search {   
        width:16em;
        height:1.44em;
     }
        
    .search .logo-position {
        display:block;
        background:#F2F2F2;
        width:1.44em;
        height:1.44em;
        float:left;
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
     }
    
    .logo-position .fas  {
        margin-left: 0.36em;
        margin-top:0.18em;  
     }
    .search .btn-recherche {
        display:block;
        background:#0065FC;
        width:6em;
        height:1.75em;
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
    }
        
    .search input {  
        outline:0;
        border:0
     }
        
     .search input[type=text] {
        text-shadow:1 0.06em #0065FC;
        float:left;
        height:1.75em;
        width:9.6em;
        line-height:1.5em;
        color:#666;
        margin:0
    }
    
/*====================== filtres======================*/
    
 /*onglet*/
    header{
    
        width:100%;
    }
    
    .filtre{
        display:flex;
    
    }
    .texte{
        height:1.44em;
    }
    .texte1{
        margin-top:0.18em;
        margin-right:1.2em;
    }
    
    .eco, .famillial, .romantique, .animaux {
        display:flex;
        height:1.44em;
        margin-left:1.2em;
    }
    
    .envoi{
        
        display:none;
    }
  
    input:hover{
        background-color:#999;
    }
    
/*Onglet economique*/

    .eco-family{
        display:flex;
    }
    .eco {
    
        width:9em;
        height:1.44em;
        border: solid 0.06em  grey;
        border-radius:1.2em;
        margin-left:0.6em;
        margin-right:0.3em;
     }
      
    .logo-eco { 
        background:#DEEBFF;
        width:1.44em;
        height:1.44em;
        float:left;
        border-radius: 1.2em;
        border-bottom-left-radius: 1.2em;
    }
            
    .logo-eco .fas {
        font-size:0.6em;
        margin-left:0.5em;
        margin-top:0.6em;       
        color:#0065FC;        
    }
    
    .texte_eco {
        width:9em;         
        height:1.7em;
        border-top-right-radius:0.6em;
        border-bottom-right-radius:0.6em;
        border:0;
        text-align:center;  
    }
        
 /* Onglet famille*/
    
    .famillial {
        display:flex;
        flex-wrap:wrap;
        width:9em;
        height:1.44em;
        border: solid 0.06em  grey;
        border-radius:1.2em;
        margin-left:0.6em;
        margin-right:0.6em;
    }
    
    .logo-famillial {    
        background:#DEEBFF;
        width:1.44em;
        height:1.44em;
        float:left;
        border-radius:1.2em;
        border-bottom-left-radius:1.2em;
     }
    
     .logo-famillial .fas  {
        font-size:0.8em;
        margin-left:0.5em;
        margin-top:0.4em;       
        color:#0065FC;        
    }
    
    .texte_famillial {  
        width:9em;
        height:1.7em;
        border-top-right-radius:0.6em;
        border-bottom-right-radius:0.6em;
        border:0;
        text-align:center;          
    } 

/* Onglet Romantique*/
            
    .romantique {
        width:8em;
        height:1.44em;
        border: solid 0.06em grey;
        border-radius:1.2em;
        margin-left:0.6em;
        margin-right:0.6em;
    }
           
    .logo-romantique {  
        background:#DEEBFF;
        width:1.44em;
        height:1.44em;
        float:left;
        border-radius:1.2em;
        border-bottom-left-radius:1.2em;
    }
          
    .logo-romantique .fas  {
        font-size:0.7em;
        margin-left:0.5em;
        margin-top:0.5em;       
        color:#0065FC;        
    }
         
    .texte_romantique {
        width:7.8em;
        height:1.75em;
        border-top-right-radius:0.6em;
        border-bottom-right-radius:0.6em;
        border:0;
        text-align:center;
    }
    
/* Onglet Animaux*/
            
    .animaux{
        width:9.24em;
        height:1.44em;
        border: solid 0.06em  grey;
        border-radius:1.2em;
        margin-left:0.6em;
        margin-right:0.6em;
     }
    
    .logo-animaux {
        background:#DEEBFF;
        width:1.44em;
        height:1.44em;
        float:left;
        border-radius:1.2em;
        border-bottom-left-radius:1.2em;
    }
    
    .logo-animaux .fas {  
        font-size:0.8em;
        margin-left:0.24em;
        margin-top:0.24em;       
        color:#0065FC;        
    }
    
    .texte_animaux {
        width:9.25em;
        height:1.7em;
        border-top-right-radius:0.6em;
        border-bottom-right-radius:0.6em;
        border:0;
        text-align:center;
    }

 /* barre info sur les disponibilitées*/

      .logo-info{
        border: solid 0.06em  grey;
        width:0.8em;
        height:0.8em;
        border-radius:0.6em;
        float:left;   
    }

    .info_complementaire {
     display:flex;
     flex-wrap:wrap;
     margin-top:0px;
     width:100%;
     height:1.2em;  
    }
         
    .logo-info .fas {
        font-size:0.52em;
        margin-left:0.5em;
        margin-top:0.15em;       
        color:#0065FC;        
    }

    .texte-info{
        margin-top:0em;
        margin-left:0.6em;
        font-size:0.7em;
    }

/*====================== zone hebergement======================*/
            
    a {
        text-decoration: none;  
    }

    #conteneur1 h5, #conteneur2 h5{
        color:black;
    }
    
    #conteneur1{
        display:flex;
        width:100%;
        height:24em;
        border-radius:0.6em;    
    }    

    .entete_hebergement, .pied_hebergement{  
        width:96%;
        height:0.3em;
        list-style-type: none;
    }
    
    .logement{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around ;
        align-content:space-around;
        background:#F2F2F2;
        width:80%;
        height:28em;
        border-radius:0.6em;
        margin-right:2%;
    }  
    
    .bloc{
        background:white;
        width:30%;
        height:10em;
        border-radius:0.6em;
        margin:0em;
    } 
    
    .img_hebergement{
        width:96%;
        height:70%;
        margin-left:0.24em;
        margin-top: 0.24em;
        border-top-left-radius:0.6em;
        border-top-right-radius:0.6em;    
    }

    .description{
        margin-left:0;
    }
    
    .description i{
        width:0.7em; 
        font-size:1em;
        margin-left:0em;
        color:#0065FC;
        margin-right:0.2em;
    }
    
    .description p{
        
        font-size:0.6em;
        margin:0em;
        margin-left:0.6em;
    }

    h5{
      
       text-align:left;
       width:100%;
        margin:0em;
    }
    
    em {
        width:4em; 
        font-size:1em;
        margin-left:0em;
        color:#F2F2F2;
    }
    
/* zone populaire*/
    
    .populaire{
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;  
        background:#F2F2F2;
        width:30%;
        height:28em;
        border-radius:0.6em;
    }
    
    .entete_populaire{
        margin-left:1.8em;
    }
    
    .entete_populaire i{
        float:right;
        margin-right:0.6em;
    }
    
    .element {
        display:flex;
        background:white;
        width:80%;
        height:6em;
        border-radius:0.6em;
        margin:auto;  
        margin-bottom:1.8em; 
    } 
    
    .img_populaire{
        width:45%;
        height:92%;
        margin-left:0.4em;
        margin-top:0.24em;
        border-top-left-radius:0.6;
        border-bottom-left-radius:0.6em; 
    }
    

/*====================== zone activités ======================*/

    #conteneur2{
        display:flex;
        width:96%;
        height:15empx;
        margin-top:1em;
        border-radius:0.6em;
        padding-left:1.8em;
    }

    .zone_activity{
        width:100%;
        height:1.2em;  
        margin-top:5em; 
    }
   
    .box{  
        width:22%;
        height:15em;
        margin-right:1.8em;
        padding-top:0em;
        border-radius:0.6em;
    }
    
    .element_1, .element_4{
        background:white;
        height:15em;
        border-radius:0.6em;
        margin-top:0em;
        box-shadow: 0em 0.24em 0.12em 0em #999;
    }  
    
    .img_activites{
        width:100%;
        height:90%;
        border-top-left-radius:0.6em;
        border-top-right-radius:0.6em;    
    }
    
    .element_2{
        background:white;
        height:9em;
        border-radius:0.6em;
        margin-bottom:1.2em;  
        box-shadow: 0em 0.24em 0.12em 0em #999; 
    }
    
    .img_activites2{
        width:100%;
        height:80%;
        margin:auto;
        border-top-left-radius:0.6em;
        border-top-right-radius:0.6em; 
    }
    
    .element_3{
        background:white;
        border-radius:0.6em;
        height:5em;
        box-shadow: 0em 0.24em 0.12em 0em #999;
    }
    
    .img_activites3{
        width:100%;
        height: 70%;
        margin:0em;
        border-top-left-radius:0.6em;
        border-top-right-radius:0.6em; 
    }
    
    .element_5, .element_6{
        background:white;
        height:6.5em;
        border-radius:0.6em;
        margin-bottom:1.8em;  
        box-shadow: 0em 0.24em 0.12em 0em #999; 
    }
    
    .img_activites5{
        width:100%;
        height:78%;
        margin:0em;
        border-top-left-radius:0.6em;
        border-top-right-radius:0.6em; 
    }
    
    h5{
    margin-top:0.3em;
    margin-left:0.6em;
    }
    

    /*====================== pied de page ======================*/

    footer{
        display:flex;
        width: 100%;
        height:8em;
        background:#F2F2F2;
        margin-top:1.8em;
        border-radius:0.6em;   
    }
    
    .info{
        text-align:left;
        width:20%;
        height:9em;
        margin-left:7em;
        margin-top:0em;
    }
    
    li{
        font-size: 0.7em;
        list-style-type: none;
        margin-bottom:0.3em;
    }
/*====================== mode responsive ======================*/

        /* mobile entre 320 et 600px soit 36em=600px*/
        /* tablette entre 600 et 1024px soit 63em=1024*/
        /* pc et autre au dela de 1024*/
 
@media screen and (max-width:63em){

    body{
        width:auto;
        margin-left:1em;
        margin-right:1em;
    }

    p,li,h2,h4,h5.placeholder{
        font-family:Raleway;
        color:black;
        font-weight:bold;
    }
   
/*header*/  

    header{
        flex-direction:column;
        width:auto;
        margin-left:auto;
        margin-right:auto;
    }

    .inscription{
        width:auto;
        margin-left:auto;
        margin-right:1em;
    }
    
    nav{
        width:auto;
        flex-direction:column; 
        margin-top:1em;
        float:none;
    }

    nav a {   
        width:auto;           
        flex-direction:column;
        margin-bottom:0.6em;
        border-bottom: 2px solid #F2F2F2;
        padding:0em 3.2em 0.8em 3.2em;
    }

    nav a:hover{
        color:#0065FC;
        padding:0em 3.2em  0.8em 3.2em;
        border-bottom:2px solid;
        border-top:none;
    }

    .position{
        width:auto;
        margin-left:0em;
        margin-right:0em;  
    }

    .position:hover{
        width:auto;
        margin-left:0em;
        margin-right:0em;  
    }

  /*filtre*/               
            
    .titre{
        width:auto;
        margin-top:2em;
        text-align:left;
    }

    .filtre{ 
        width:auto;              
        display:flex;           
        flex-direction:column;    
        margin-left:auto;
        margin-right:auto;        
    }

    .eco-family, .romantique{
        margin-bottom:0.4em;
    }


/* hebergement*/


    #conteneur1{
        width:18em;
        margin-top:56em;
        flex-direction: column-reverse;    
        margin-left:0em;  
    }

    .entete_hebergement, .pied_hebergement{  
        margin-left:auto;
        margin-right:auto;
    }

    .populaire {      

        background:#F2F2F2;
        width:100%;
        height:28em;
        border-radius:0em;            
    }

    .logement{
        width:100%;
        background:white;
        margin-top:25em;           
    }

    .bloc{

        width:15em;
        height:10em;
        margin-bottom:1.2em;
        margin-top:0.6em;
        box-shadow: 0em 0.24em 0.12em 0em #999;
    }


/*activites*/

    .zone_activity{
     margin-top:25em;   
    }

    .entete_activites{
        margin-left:0em;   
    }

    #conteneur2{
        width:18em;
        height:51em;
        flex-direction: column;   
        margin-left:0em;
    }

    .element_1, .element_2, .element_3, .element_4, .element_5, .element_6{
        width:15em;
        height:7em;          
    }

    .img_activites{
        width:100%;
        height:80%;
        border-top-left-radius: 0.6em;
        border-top-right-radius: 0.6em;    
    }

    .element_4{
        margin-top:1.8em;
        margin-bottom:1.8em;
    }
      
 /*pied de page*/

    footer{
        width:18em;
        height:21em;
        flex-direction:column;
        margin-left:0em; 
        border-radius:0em;   
    }

    .info{
        width:18em;
        margin-bottom:0em;
        margin-left:0.6em;
    }    
}
        






